#menu{
    display: flex; margin-top: 275px; gap: 25px; 

}

#all{
    display: flex;
}
a{
    text-decoration: none; 
}
a:visited{
    color: black;
}
#pics{
    display: flex;
}
.rec{
    display: flex;
}