#menu{
    display: flex; margin-top: 275px; gap: 25px; 

}

#all{
    display: flex;
}
a{
    text-decoration: none; 
    color: black;
}
a:visited{
    color: black;
    text-decoration: none;
}
#group{
    display: flex;
}
#group2{
    display: flex;
}
#group3{
    display: flex;
}
#group4{
    display: flex;
}

